footer.adu-footer {
  min-height: 275px;
  background-color: #101010;
  color: #5b5b5b;
  font-size: 0.9375rem;

  a {
    color: var(--bs-white);

    &:hover,
    &:focus {
      color: #da4c39;
    }
  }

  .inner-content--left {
    text-align: center;

    p.adu-tagline {
      font-weight: $font-weight--regular;
    }
  }

  .inner-content--right {
    text-align: center;

    .adu-footer--menu--title {
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: $font-weight--bold;
      font-style: normal;
      margin-bottom: 1.45rem;
    }

    ul {
      li {
        &:not(:first-child) {
          margin-top: 1.25rem;
        }
      }

      a {
        text-transform: uppercase;

        i, 
        i {
          font-size: 1.125rem;
          vertical-align: middle;
        }

        i ~ span, 
        i ~ span {
          vertical-align: middle;
        }
      }
    }
  }

  @media only screen and (min-width: 576px) {
    .inner-content--left,
    .inner-content--right {
      text-align: unset;
    }
  }
}

div.adu-copyright {
  min-height: 59px;
  background-color: #101010;
  border-top: 1px solid #5b5b5b;
  color: var(--bs-white);
  font-size: 0.9375rem;

  a {
    color: var(--bs-white);

    &:hover,
    &:focus {
      color: #da4c39;
    }
  }

  .inner-content--left {
    text-align: center;
  }

  .inner-content--right {
    text-align: center;

    ul {
      li {
        &:not(:first-child) {
          margin-left: 1.875rem;
        }

        &:not(:last-child) {
          margin-right: 1.875rem;
        }
      }
    }
  }

  @media only screen and (min-width: 576px) {
    .inner-content--left {
      text-align: unset;
    }

    .inner-content--right {
      text-align: right;
    }
  }
}