ul {
  &.plain {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &.inline {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
    }
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    color: #da4c39;
  }
}