header.adu-header {
  min-height: 400px;
  background-color: #00235a;
  color: var(--bs-white);
}

// Navigation
nav.adu-nav {
  .navbar-brand {
    color: var(--bs-white);
    width: 60%;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  }

  .navbar-toggler {
    color: var(--bs-white);
    border-color: var(--bs-white);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
  }

  .navbar-nav {
    .nav-link {
      color: var(--bs-white);
      font-weight: $font-weight--semi-bold;
      font-style: normal;
      font-size: 1.0625rem;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: #da4c39;
      }

      &.disabled {
        color: rgba(255, 255, 255, 0.55);
      }

      i {
        font-size: 1.25rem;
      }
    }

    .show > .nav-link,
    .nav-link.active {
      color: #da4c39;
    }
  }

  .navbar-collapse {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
    z-index: 100;
  }

  .outside-collapse {
    margin-left: 1.25rem;
  }

  @media only screen and (min-width: 400px) {
    .navbar-brand {
      width: auto;

      img {
        max-width: unset;
        width: unset;
        height: unset
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .navbar-nav {
      li {
        &:not(:first-child) {
          margin-left: 0.625rem;
        }
  
        &:not(:last-child) {
          margin-right: 0.625rem;
        }

        .nav-link {
          &.convert-btn {
            border: 1px solid;
            padding-left: 1.875rem;
            padding-right: 1.875rem;
            padding-bottom: 0.3rem;

            &:hover,
            &:focus,
            &.active {
              border-color: #da4c39;
              background-color: #da4c39;
              color: var(--bs-white) !important;
            }
          }
        }
      }
    }

    .outside-collapse {
      margin-left: 0.625rem;
    }
  }
}

// Hero Banner
section.adu-hero-banner {
  min-height: 598px;

  .inner-content {
    position: relative;
    z-index: 10;

    a {
      color: var(--bs-white);
      font-weight: $font-weight--semi-bold;
    }

    h1 {
      font-weight: $font-weight--extra-bold;
      text-transform: uppercase;
    }

    h4 {
      a {
        text-decoration: underline;

        &:hover,
        &:focus {
          color: #da4c39;
        }
      }
    }

    form {
      input {
        height: 3.875rem;
        color: #656565;
        padding-left: 1.875rem;
        padding-right: 1.875rem;
      }

      button[class*=" adu-btn-"] {
        height: 3.875rem;
        text-transform: uppercase;
      }
    }

    .adu-h6--how-it-works {
      margin-top: 1.75rem;
      text-transform: uppercase;
      font-weight: $font-weight--semi-bold;
      letter-spacing: 0.25px;

      a {
        border: 2px solid #da4c39;
        padding: 0rem 0.43rem 0rem;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        font-size: 0.95rem;
        color: #da4c39;
        font-weight: $font-weight--extra-bold;

        &:hover,
        &:focus {
          color: #d26253;
          border-color: #d26253;
        }
      }
    }
  }

  div.vector-container {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: -1px;

    img {
      width: 100%;
      margin-bottom: -4.75%;
    }
  }

  @media only screen and (min-width: 992px) {
    .inner-content {
      form {
        button[class*=" adu-btn-"] {
          width: 15.625rem;
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .inner-content {
      form {
        input {
          width: 28.125rem;
          flex: unset;
        }
      }
    }
  }
}