section.adu-home--section-1 {
  min-height: 550px;
}

.adu-sec1--what-is-adu,
.adu-sec2--benefits {
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  color: #00235a;
  font-size: 2rem;
}

.adu-sec1--an-accessory,
.adu-sec2--benefits-description {
  text-align: left;
  font-size: 1.2em;
  color: #000000;
  line-height: 1.5;
  margin-top: 1.563rem;
}

.adu-sec1--checkmark {
  position: relative;
  right: 1.25rem;
  top: 0.938rem;
}

.adu-sec1--checkmark > li {
  display: flex;
  align-items: center;
  border: none;
  margin-top: 0.625rem;
}

.adu-sec1--checkmark > li > span {
  text-align: left;
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5;
  color: #000000;
}
.adu-sec1--checkmark > li > img {
  margin-right: 1.25rem;
  margin-top: 0.313rem;
}

.adu-img1 {
  width: 100%;
}

@media only screen and (min-width: 770px) {
  .adu-img1 {
    position: relative;
    left: 3.125rem;
    top: 1.875rem;
  }
}

.adu-home--sec2-card {
  border-radius: 5px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  min-height: 480px;
}

.adu-home--section-2 {
  min-height: 650px;
}
.adu-benefits-points {
  width: 100%;
  font-size: 0.95rem;
  font-weight: bold;
  line-height: 1.44;
  color: #000000;
}

.home-sec2-card-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
